<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <div class="nav-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/assets/img/logo.png" style="width: 48px;">
                </a>
            </div>

            <!-- begin authenticated nav -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown" dropdown on-toggle="toggled(open)" ng-controller="DropdownCtrl">
                       <a href class="dropdown-toggle" dropdown-toggle><i class="fa fa-globe"></i>&nbsp;Platforms&nbsp;<span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           <li ng-repeat="platform in platforms">
                               <a ui-sref="authenticated.pages.platforms.{{ platform }}">{{ platform }}</a>
                           </li>
                       </ul>
                    </li>
                    <li><a ui-sref="authenticated.pages.solutions"><i class="fa fa-connectdevelop"></i>&nbsp;Solutions</a></li>
                    <li><a ui-sref="authenticated.pages.services"><i class="fa fa-cogs"></i>&nbsp;Services</a></li>
                    <li><a ui-sref="authenticated.pages.training"><i class="fa fa-university"></i>&nbsp;Training</a></li>
                    <li><a ui-sref="authenticated.pages.competitive"><i class="fa fa-heart-o"></i>&nbsp;Competitive</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-bookmark-o"></i>&nbsp;Bookmarks<span class="caret"></span></a></li>
                    <li><a ui-sref="authenticated.dashboard.logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>