<div class="collapse nav-collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i>&nbsp;Platforms&nbsp;<span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class=""></i>&nbsp;Routing</a></li>
                <li><a href="#"><i class=""></i>&nbsp;Switching</a></li>
                <li><a href="#"><i class=""></i>&nbsp;Wireless</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-connectdevelop"></i>&nbsp;Solutions</a></li>
        <li><a href="#"><i class="fa fa-cogs"></i>&nbsp;Services</a></li>
        <li><a href="#"><i class="fa fa-university"></i>&nbsp;Training</a></li>
        <li><a href="#"><i class="fa fa-heart-o"></i>&nbsp;Competitive</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
            <ul></ul>
        </li>


    </ul>
</div>