body{ padding-top: 70px; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#sidebar ul li a.active{
    background-color: #BF5A16;
}

.contentGrid{
    width: 500px;
}

.ui-grid{
    border: none;
}