<!DOCTYPE html>
{%- block doc %}
<html class="no-js" lang="en" ng-app="fangulitic">
{%- block html %}
    <head>
    {%- block head %}
        <title>{% block title %}{% endblock title %}</title>

        {%- block metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block icons %}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="favicon" href="">
        {%- endblock icons  %}

        {%- block styles %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/superhero/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        {%- endblock styles %}

        {%- block head_scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

        <script src="{{ url_for('static', filename='fangulitic/fangulitic.js') }}"></script>
        {%- endblock head_scripts %}
    {%- endblock head %}
    </head>
    <body {% block body_attribs %}{% endblock body_attribs %}>
    {%- block body %}

        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browserhappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {%- block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">

                    <div class="nav-header"></div>

                    <div class="collapse nav-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i>&nbsp;Platforms&nbsp;<span class="caret"></span> </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class=""></i>&nbsp;Routing</a></li>
                                    <li><a href="#"><i class=""></i>&nbsp;Switching</a></li>
                                    <li><a href="#"><i class=""></i>&nbsp;Wireless</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-connectdevelop"></i>&nbsp;Solutions</a></li>
                            <li><a href="#"><i class="fa fa-cogs"></i>&nbsp;Services</a></li>
                            <li><a href="#"><i class="fa fa-university"></i>&nbsp;Training</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i>&nbsp;Competitive</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
                                <ul></ul>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {% endblock navbar %}


        {%- block page_content %}
        {%- endblock page_content %}

        {%- block footer %}
        {%- endblock footer %}

        {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//eng-tme3.cisco.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//eng-tme3.cisco.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        {%- endblock scripts %}
    {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}