{% extends "base.html" %}
{% block subtitle %}Add Dashboard Account{% endblock %}
{% block content %}
				<h1 class="page-header">Add New Account</b></h1>
				<div class="sub-header">{% include "flash.html" %}
				</div>
				<div class="col-md-4">
				<form role="form" class="form-horizontal" action="/users/add" method="post">
					{{ form.csrf_token }}
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="admin"> Make this user an administrator?
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Add User</button>
						<a href="/users/list" class="btn btn-default">Cancel</a>
					</div>
				</form>
				</div>
				<div class="col-md-8"></div>
{% endblock %}
