{% extends "base.html" %}
{% block subtitle %}Modify User{% endblock %}
{% block content %}
			<h1 class="page-header">Modify user {{ form.username.data }}.</b></h1>
				<div class="sub-header">{% include "flash.html" %}
				</div>
				<div class="col-md-4">
				<form role="form" class="form-horizontal" action="/users/modify" method="post">
					{{ form.csrf_token }}
					<input type="hidden" name="username" value="{{ form.username.data }}">
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="New Password">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="admin"{% if form.admin.data == True %} checked{% endif %}> Make this user an administrator?
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Modify User</button>
						<a href="/users/list" class="btn btn-default">Cancel</a>
					</div>
				</form>
				</div>
				<div class="col-md-8"></div>
{% endblock %}
